#navbar {
  padding: 3px;
  margin: 3px 3px;
  float: left;
  cursor: pointer;
  background-image: url(../../../public/Nimvelo.jpg);
  border: none;
}

#navbar :hover {
  --c: #1095c1;
  line-height: 1.2em;
  background:
    conic-gradient(from -135deg at 100%  50%,var(--c) 90deg,#0000 0) 
      0    var(--p,0%)/var(--s,0%) 200% no-repeat,
    conic-gradient(from -135deg at 1.2em 50%,#0000 90deg,var(--c) 0) 
      100% var(--p,0%)/var(--s,0%) 200% no-repeat;
  transition: .4s ease-in, background-position 0s;
}

#navbar :hover {
  --p: 100%;
  --s: calc(50% + .61em);
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: rgb(244, 241, 241);
  margin: 5px 2px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#menu { 
  margin: 0px 0px;
  padding: 5px 3px;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(189, 186, 186);
  color: #282c34;
  font-size: 15px;
  float: inline-start;
  align-items: center;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul {
  padding: 20px 0px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}