body,
html {
   height: 100%;
   width: 100%;
  }

.App {
  display: block;
  text-align: center;
}

.App-container {
  background-image: url(../public/Nimvelo.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
